{% load static %}
<!-- Footer -->
<footer class="js-footer-is-fixed">
    <!-- Footer Default -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-logo-wrapper">
                        <!-- Logo Image -->
                        <a href="index.html" class="logo-image ">
                            <img src="{% static 'noticeboard/img/logos/logo.png' %}" alt="logo">
                        </a>
                        <!-- End of Logo Image -->
                        <!-- Slogan -->
                        <p class="slogan"> Learn.
                            <br>Create.
                            <br>Impress. </p>
                        <!-- End of Slogan -->
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="footer-wrapper">
                        <!-- Scroll top -->
                        <span class="scroll-top js-scroll-top">
                            <i class="fa fa-angle-up"></i>
                        </span>
                        <!-- End of Scroll top -->
                        <!-- Footer Menu -->
                        <ul class="footer-menu helper right">
                            <li>
                                <a href="#"> About us </a>
                            </li>
                            <li>
                                <a href="#"> Privacy Policy </a>
                            </li>
                            <li>
                                <a href="#"> Terms & Conditions </a>
                            </li>
                            <li>
                                <a href="#"> My account </a>
                            </li>
                            <li>
                                <a href="#"> Support service </a>
                            </li>
                        </ul>
                        <!-- End of Footer Menu -->
                        <!-- Copyright -->
                        <p class="copyright helper right">
                            <a href="#">FP Project</a>, all rights reserved. 2019 &copy; </p>
                        <!-- End of Copyright -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Default -->
</footer>
<!-- End of Footer -->