{% load static %}
<!-- Header -->
<div class="header background-2">
	<div class="container-fluid container-spaced">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6">
				<!-- Logo Image -->
				<a href="index.html" class="logo-image logo-animated">
					<img src="{% static 'noticeboard/img/logos/logo.png' %}" alt="logo">
				</a>
				<!-- End of Logo Image -->
			</div>
			<div class="col-md-9 col-sm-6 col-xs-6">
				<!-- Menu -->
				<nav class="right helper">
					<ul class="menu sf-menu js-menu">
						{% if user.is_authenticated %}
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								{{user.first_name}} {{user.last_name}}
							</li>
							<li>
								<a href="/accounts/logout/">Logout</a>
							</li>
						{% else %}
							<li>
								<a href="/accounts/login/">Login</a>
							</li>
						{% endif %}

						<li>
							<a href="#">EN</a>
							<ul>
								<li>
									<a href="panels.html">IT</a>
								</li>
								<li>
									<a href="faq.html">JA</a>
								</li>
								<li>
									<a href="notification.html">KO</a>
								</li>
								<li>
									<a href="tutorial.html">PL</a>
								</li>
								<li>
									<a href="login.html">RU</a>
								</li>
								<li>
									<a href="register.html">SV</a>
								</li>
								<li>
									<a href="404.html">TH</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<!-- End of Menu -->
			</div>
		</div>
	</div>
</div>
<!-- End of Header -->