<div class="col-md-3 hidden-sm hidden-xs">
    <div class="sidebar js-sidebar-fixed">
        {% if user.is_authenticated %}
            <a href="#" class="button helper mb30 stroke full blue">New Post</a>
            <div class="widget">
                <!-- Search -->
                <div class="search">
                    <form action="#">
                        <input type="text" class="search-input form-control" placeholder="search">
                        <i class="fa fa-search search-icon"></i>
                    </form>
                </div>
                <!-- End of Search -->
            </div>
            <!-- Vertical Menu -->
            <nav class="menu-vertical-wrapper">
                <ul class="menu-vertical  js-menu-vertical" data-prepend-to=".js-layout" data-select="Menu">
                    <li>
                        <a href="#">Tutorials</a>
                        <ul>
                            <li>
                                <a href="#">Instalation</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Manually</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Wizard</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Softaculous</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Fantastico</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Transfer</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Create</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Multimedia</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Post</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Comments</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Themes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Plugins</a>
                        <ul>
                            <li>
                                <a href="#">Instalation</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Manually</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Wizard</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Softaculous</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Fantastico</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Transfer</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Create</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Multimedia</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Post</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Comments</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Themes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Partners</a>
                        <ul>
                            <li>
                                <a href="#">Instalation</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Manually</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Wizard</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Softaculous</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Fantastico</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Transfer</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Create</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Multimedia</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Post</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Comments</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Themes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Affiliates</a>
                        <ul>
                            <li>
                                <a href="#">Instalation</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Manually</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Wizard</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Softaculous</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Fantastico</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Transfer</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Create</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Multimedia</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Post</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Comments</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Themes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Events</a>
                        <ul>
                            <li>
                                <a href="#">Instalation</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Manually</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Wizard</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Softaculous</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Fantastico</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Transfer</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Create</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Multimedia</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Post</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Comments</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Themes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <ul>
                            <li>
                                <a href="#">Instalation</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Manually</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Wizard</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Softaculous</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Fantastico</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Transfer</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Create</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Multimedia</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Post</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Comments</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Themes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Faq</a>
                        <ul>
                            <li>
                                <a href="#">Instalation</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Manually</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Wizard</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Softaculous</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Fantastico</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Transfer</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Create</a>
                                <ul>
                                    <li>
                                        <a href="views.html">Multimedia</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Post</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Categories</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Comments</a>
                                    </li>
                                    <li>
                                        <a href="views.html">Themes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
</div>