<div class="col-sm-12 col-md-6 mt-4">
    <div class="card">
        <div class="card-header text-muted">
            Recent plugins
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Multilingual
                <span class="float-right">v4.6.3</span>
            </li>

            <li class="list-group-item">
                Interactive Games
                <span class="float-right">v2.7.1</span>
            </li>

            <li class="list-group-item">
                Learning Tool
                <span class="float-right">v1.4.2</span>
            </li>
        </ul>
    </div>
</div>


<div class="col-sm-12 col-md-6 mt-4">
    <div class="card">
        <div class="card-header text-muted">
            News & updates
        </div>
        <div class="card-body">
            <form>
                <div class="form-group text-muted">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject">
                </div>

                <div class="form-group text-muted">
                    <label for="description">Description</label>
                    <input type="textarea" class="form-control" id="description" style="min-height: 80px;">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
