<div class="col-sm-12 col-md-4 col-lg-3 mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-9">
                    <h5 class="card-title">3</h5>
                    <p class="card-text scp"><small class="text-muted">Total plugins</small></p>
                    <p class="card-text scp"><small class="text-muted">Updated: 12:38 PM</small></p>
                </div>

                <div class="col-3">
                    <p class="card-text text-right">
                        <i class="fas fa-fw fa-caret-up text-success"></i>
                        +2
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-4 col-lg-3 mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-9">
                    <h5 class="card-title">15</h5>
                    <p class="card-text scp"><small class="text-muted">Total developers</small></p>
                    <p class="card-text scp"><small class="text-muted">Updated: 06:45 AM</small></p>
                </div>

                <div class="col-3">
                    <p class="card-text text-right">
                        <i class="fas fa-fw fa-caret-up text-success"></i>
                        +12
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-4 col-lg-3 mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-9">
                    <h5 class="card-title">6</h5>
                    <p class="card-text scp"><small class="text-muted">Total tickets</small></p>
                    <p class="card-text scp"><small class="text-muted">Updated: 03:48 AM</small></p>
                </div>

                <div class="col-3">
                    <p class="card-text text-right">
                        <i class="fas fa-fw fa-caret-up text-success"></i>
                        +2
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-4 col-lg-3 mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-9">
                    <h5 class="card-title">2</h5>
                    <p class="card-text scp"><small class="text-muted">Unsolved tickets</small></p>
                    <p class="card-text scp"><small class="text-muted">Updated: 09:26 AM</small></p>
                </div>

                <div class="col-3">
                    <p class="card-text text-right">
                        <i class="fas fa-fw fa-caret-up text-success"></i>
                        +2
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
