{% load static %}

<div class="row mt-3 no-gutters">
    <div class="col-3">
        <img class="img-thumbnail border border-0" style="height: 59.333px;" src="{% static 'dashboard/images/no-u-image.png' %}" alt="user-image">
    </div>

    <div class="col-9">
        <nav class="nav">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" href="#" style="width: 100%;">
                <div class="row">
                    <div class="col-md-8">
                        <span class="text-secondary">{% if user.is_authenticated %}{{user.first_name}} {{user.last_name}}{% endif %}</span>
                        <br>
                        <small class="text-muted">Administrator</small>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-fw fa-caret-down pt-3 float-right text-muted"></i>
                    </div>
                </div>
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="/accounts/logout/">Logout</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <nav class="nav flex-column">
            <div class="nav-link text-muted">Navigation</div>
            <a class="nav-link text-secondary" href="#"><i class="fas fa-fw fa-home text-primary feather"></i>Home</a>

            <a class="nav-link text-secondary" data-toggle="collapse" href="#nav-colapse" role="button" aria-expanded="false" aria-controls="nav-colapse">
                <i class="fas fa-fw fa-plug text-success feather"></i>Plugins
                <i class="fas fa-fw fa-caret-down float-right mt-1"></i>
                <span class="badge badge-primary float-right mt-1">4</span>
            </a>

            <div class="collapse" id="nav-colapse">
                <div class="card card-body">
                    <a class="nav-link text-secondary" href="#">Plugin 1</a>
                    <a class="nav-link text-secondary" href="#">Plugin 2</a>
                    <a class="nav-link text-secondary" href="#">Plugin 3</a>
                    <a class="nav-link text-secondary" href="#">Plugin 4</a>
                </div>
            </div>

            <a class="nav-link text-secondary" href="#">
                <i class="fas fa-fw fa-envelope-open-text text-dark feather"></i>
                Messages
            </a>

            <br />
            <hr class="grey-splitter">
            <br />

            <a class="nav-link text-secondary" href="#">
                <i class="fas fa-fw fa-cog text-dark feather"></i>
                Settings
            </a>

            <a class="nav-link text-secondary" href="{% url 'logout' %}">
                <i class="fas fa-fw fa-power-off text-dark feather"></i>
                Logout
            </a>
        </nav>
    </div>
</div>
