<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" style="color: #fff;">Dashboard</a>
    <form class="form-inline">
        <!-- Actual search box -->
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
</nav>
