<div class="col-sm-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-sm-1">
          <i class="far fa-circle fa-4x text-success text-align-bottom"></i>
        </div>

        <div class="col-sm-9 pt-2">
          <span class="scp ">#ticket-2048: Plugin not enabled</span>
          <br>
          <span class="text-muted"><small>14 hours ago</small></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-sm-1">
          <i class="far fa-circle fa-4x text-danger text-align-bottom"></i>
        </div>

        <div class="col-sm-9 pt-2">
          <span class="scp ">#ticket-2048: Plugin not enabled</span>
          <br>
          <span class="text-muted"><small>14 hours ago</small></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-sm-1">
          <i class="far fa-circle fa-4x text-danger text-align-bottom"></i>
        </div>

        <div class="col-sm-9 pt-2">
          <span class="scp ">#ticket-2048: Plugin not enabled</span>
          <br>
          <span class="text-muted"><small>14 hours ago</small></span>
        </div>
      </div>
    </div>
  </div>
</div>
