{% extends 'base/base.html' %}
{% load static %}

{% block content %}
	<div class="col-md-9">
		<div class="main-content">

			<!-- Category Info -->
			<div class="category-info helper pt0" id="list-view">
				<h3 class="category-title"> Notice Board</h3>
			</div>
			<!-- End of Caregory Info -->

			<!-- List View -->
			<div class="list-view ">
				<div class="list-item">
					<div class="list-item-header">
						<h3 class="list-item-title">
							<a href="#">This is my first post</a>
						</h3>
					</div>
					<div class="list-item-content"> WordPress is a great product. It&#39;s easy-to-use, quite powerful, and flexible. Creating a website, and maintaining a website, is a science and art that has quickly evolved. </div>
					<div class="blog-grid-meta">
						<span class="blog-grid-date">April 3, 2019</span>
						<span class="blog-grid-author">by <a href="#">Melvyn Chew</a></span>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-header">
						<h3 class="list-item-title">
							<a href="#">This is my second post</a>
						</h3>
					</div>
					<div class="list-item-content"> In order to fully appreciate this it is important to be well read on the subject. One major thing to keep in mind is your investment of time. </div>
					<div class="blog-grid-meta">
						<span class="blog-grid-date">April 2, 2019</span>
						<span class="blog-grid-author">by <a href="#">Johnny Rum</a></span>
					</div>
				</div>
			</div>
			<!-- End of List View -->
		</div>
	</div>
{% endblock %}
