{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="row no-gutters">
    <!-- left side content -->
    <div class="col-2 d-none d-md-block sticky-top" style="background: #fff; height: 100vh;">
        <!-- left side nav -->
        {% include 'dashboard/components/left-nav.html' %}
        <!-- /left side nav -->
    </div>
    <!-- /left side content -->

    <!-- right side content -->
    <div class="col">
        <!-- navigation - right side -->
        {% include 'dashboard/components/right-side-nav.html' %}
        <!-- /navigation - right side -->

        <div class="container">
            <!-- first row of cards -->
            <div class="row">
                <!-- first row stat cards -->
                {% include 'dashboard/components/cards-f-row.html' %}
                <!-- /first row stat cards -->
            </div>
            <!-- /first row of cards -->

            <!-- second row stat cards -->
            <div class="row">
                {% include 'dashboard/components/cards-s-row.html' %}
            </div>
            <!-- /second row stat cards -->

            <div class="row mt-4">
                <!-- row title -->
                <div class="col-sm-12">
                    <h6 class="text-muted">Recent tickets</h6>
                </div>
                <!-- /row title -->

                <!-- tickets -->
                {% include 'dashboard/components/tickets.html' %}
                <!-- /tickets -->
            </div>

            <div class="row mt-5">
                <!-- footer -->
                <div class="col-sm-12">
                    <span class="text-muted mr-3">Copyright &copy; 2018</span>
                    <a class="text-muted mr-3" href="#">Privacy</a>
                    <a class="text-muted mr-3" href="#">Terms</a>
                </div>
                <!-- /footer -->
            </div>
        </div>
    </div>
    <!-- /right side content -->
</div>
{% endblock %}
