/* Table of contents */
  /* 1. General purpose css */
  /* 2. Element specific css */
    /* 2.1 Search input */
    /* 2.2 Divider */
    /* 2.3 Spacing between vector and menu text */
    /* 2.4 Special card paragraph(scp) line-height */

/* 1. General purpose css */
.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:hover {
    text-decoration: none;
}

.btn-green {
    background-color: #00aa00;
    color: #ffffff;
}

.btn-blue {
    background-color: #467dec;
    color: #fff;
}

/* 2. Element specific css */
/* 2.1 Search input */
.has-search .form-control {
  background-color: #006be0;
  border: 1px solid #007bff;
  color: #fff;
  padding-left: 2.375rem;
}

.form-control::placeholder {
  color: #fff;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #fff;
}

/* 2.2 Divider */
hr.grey-splitter {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #eaeaea;
  height: 0.7px;
}


/* 2.3 Spacing between vector and menu text */
.nav-link .feather {
  margin-right: 8px;
}


/* 2.4 Special card paragraph(scp) line-height */
.scp {
  line-height: 2px;
}
